html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: aero;
	src: url("../fonts/aero.ttf");
}

@font-face {
	font-family: hemi;
	src: url("../fonts/hemi head bd it.ttf");
}

a {
	color: white;
	text-decoration: none;
	padding: 5px;
	font-family: Calibri;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #601d80; 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7925a1; 
}





@media only screen 
    and (device-width : 768px)  
    and (-webkit-device-pixel-ratio : 2) { 

		.indexheader {
			background-color: black;
			height: 102px;
			width: 100%;
			position: sticky;
			top: 0;
			z-index: 99;
		}
		
		.indexheader img {
			margin-top: 40px;
			margin-left: -200px;
			float: left;
			height: 200px;
			padding-bottom: 30px;
		}
		
		.othersheader {
			background-color: black;
			height: 60px;
			width: 100%;
			top: 0;
			z-index: 100;
		}
		
		.othersheader img {
			margin-top: 7px;
			margin-left: 35px;
			float: left;
			height: 45px
		}
		
		.othersheader nav ul {
			margin-top: 6px;
		}
		
		.othersheader nav ul li a {
			font-family: hemi;
			font-size: 100px;
		}
		
		nav {
			float: right;
		}
		
		nav ul {
			margin-top: 100px;
			margin-right: -200px;
		}
		
		nav ul li {
			display: inline-block;
			margin-right: 55px;
		}
		
		nav ul li a {
			font-family: hemi;
			font-size: 38px;
		}
		
		nav ul li a:hover{
			background-color: #c163e0;
			border-radius: 7px;
			transition: all 0.5s;
		}
		
		nav ul li a.active {
			background-color: #7f3d98;
			border-radius: 7px;
		}
		
		.trading_button {
			font-size: 40px;
			text-align: center;
			padding-top: 200px;
		}
		
		.prices_button {
			font-size: 40px;
			text-align: center;
			padding-top: 200px;
		}
		
		#fixed-header {
			background-color: black;
			width: 100%;
			position: fixed;
			top: 0px;
			left: 0px;
			z-index: 99;
		}
		
		#fixed-header-other {
			background-color: black;
			width: 100%;
			position: fixed;
			top: 0px;
			left: 0px;
			z-index: 99;	
		}
		
		.trading_file_download {
			font-size: 28px;
			text-align: center;
			padding-top: 300px;
			padding-bottom: 450px;
		}
		
		.prices_file_download {
			font-size: 28px;
			text-align: center;
			padding-top: 200px;
			padding-bottom: 50px;
		}
		
		.download_sign {
			font-size: 40px;
			text-align: center;
			padding-top: 635px;
		}
		
		.LCcollection {
			font-size: 170px;
			text-align: center;
			padding-top: 630px;
			padding-bottom: 30px;
			margin-left: 285px;
			position: absolute;
		}
		
		.Inventory {
			font-size: 170px;
			text-align: center;
			margin-top: 1950px;
			padding-bottom: 30px;
			margin-left: 280px;
			position: absolute;
		}
		
		.lclogoindex {
			margin-top: 990px;
			margin-left: 300px;
			margin-bottom: 150px;
			float: left;
			width: 800px; 
			height: 800px;
		}
		
		.danberlogoindex {
			margin-top: 580px;
			margin-right: -380px;
			margin-bottom: 150px;
			float: right;
			width: 800px; 
			height: 800px;
		}
		
		html {
		  scroll-behavior: smooth;
		}
		
		#clickscroll {
			position: absolute;
			font-size: 50px;
			float: left;
			margin-top: -90px;
			margin-left: 330px;
		}
		
		.fontfamindex {
			font-family: hemi;
		}
		
		.fontfamindex2 {
			font-family: hemi;
		}
		
		.fontfamindex3 {
			font-family: aero;
		}
		
			}
		
		#logo {
			position: absolute;
			top: 42%;
			left: 105%;
			padding-right: 150px;
			transform: translate(-50%,-50%);
		}
		