a {
	text-decoration: none !important;
	color:white!important;
}
  

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background: black!important;
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: aero;
	src: url("../fonts/aero.ttf");
}

@font-face {
	font-family: hemi;
	src: url("../fonts/hemi head bd it.ttf");
}

.container {
	width: 1000px;
	margin: 0 auto;
}

a {
	color: white;
	text-decoration: none;
	padding: 5px;
	font-family: Calibri;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #601d80; 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7925a1; 
}



.indexheader {
	background-color: black;
	height: 102px;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 99;
}

.indexheader img {
	margin-top: 10px;
	margin-left: 35px;
	float: left;
}

.othersheader {
	background-color: black;
	height: 60px;
	width: 100%;
	top: 0;
	z-index: 100;
}

.othersheader img {
	margin-top: 7px;
	margin-left: 35px;
	float: left;
	height: 45px
}

.othersheader nav ul {
	margin-top: -22px;
}

.othersheader nav ul li a {
	font-family: hemi;
	font-size: 15px;
}

nav {
	float: right;
}

nav ul {
	margin-top: 0px;
}

nav ul li {
	display: inline-block;
	margin-right: 45px;
}

nav ul li a {
	font-family: hemi;
	font-size: 19px;
}

nav ul li a:hover{
	background-color: #c163e0;
	border-radius: 7px;
	transition: all 0.5s;
}

nav ul li a.active {
	background-color: #7f3d98;
	border-radius: 7px;
}

.trading_button {
	font-size: 40px;
	text-align: center;
	padding-top: 200px;
}

.prices_button {
	font-size: 40px;
	text-align: center;
	padding-top: 200px;
}

#fixed-header {
	background-color: black;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;
}

#fixed-header-other {
	background-color: black;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;	
}

.trading_file_download {
	font-size: 28px;
	text-align: center;
	padding-top: 300px;
	padding-bottom: 300px;
}

.prices_file_download {
	font-size: 28px;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 50px;
}

.download_sign {
	font-size: 40px;
	text-align: center;
	padding-top: 500px;
}




html {
  scroll-behavior: smooth;
}

#clickscroll {
	position: absolute;
	font-size: 50px;
	float: left;
	margin-top: -90px;
	margin-left: 330px;
}

.font-size-60 /*I added this to the CSS :)*/
{
	font-size: 60px;
	color:white;
}

.fontfamindex {
	font-family: hemi;
}

.fontfamindex2 {
	font-family: hemi;
}

.fontfamindex3 {
	font-family: aero;
}

#logo {
	margin-top: 190px; /*I added this as well to change the margin on the top of the svg logo :)*/
	margin-bottom: 120px; /*Same here but for the bottom, you might want to change the pixels :) :)*/
}

@keyframes fill{
	from{
		fill:transparent;
	}
	to{
		fill: white;
	}
}

#topspace {
	padding-top: 50px;
}
